
//在webconfig中设置windows用户认证
<system.web>
<compilation debug="true" targetFramework="4.5.1" />
  <httpRuntime targetFramework="4.5.1" />
   <authentication mode="Windows" />
<authorization>
<deny users="?" />
</authorization>
</system.web>



//forms mode
//认证失败，设置跳转url
<authentication mode="Forms">
  <forms loginUrl="~/" timeout="2880" />
</authentication>

