

<httpRuntime useFullyQualifiedRedirectUrl="true|false"
             maxRequestLength="size in kbytes"
             executionTimeout="seconds"
             minFreeThreads="number of threads"
             minFreeLocalRequestFreeThreads="number of threads"
             appRequestQueueLimit="number of requests"
             versionHeader="version string"/>


executionTimeout预设（即默认）是 90 秒


useFullyQualifiedRedirectUrl：指示客户端重定向是否是完全限定的
（采用 {HYPERLINK "http://server/path" } 格式，这是某些移动控件所必需的），
或者指示是否代之以将相对重定向发送到客户端。
true 指定客户端重定向需要以完全限定的格式发送。这是通过自动将不是完全限定的格式的所有重定向转换为完全限定的格式来实现的。
false 指定客户端重定向不需要被自动转换为完全限定格式。false 是默认选项。


maxRequestLength：指示 ASP.NET 支持的最大文件上载大小。
该限制可用于防止因用户将大量文件传递到该服务器而导致的拒绝服务攻击。指定的大小以 KB 为单位。默认值为 4096 KB (4 MB)。


executionTimeout：指示在被 ASP.NET 自动关闭前，允许执行请求的最大秒数。

minFreeThreads:允许执行新请求的自由线程的最小数目。
ASP.NET 为要求附加线程来完成其处理的请求使这些线程保持自由状态。


minFreeLocalRequestFreeThreads：ASP.NET 保持的允许执行新的本地请求的自由线程的最小数目。
该线程数目是为从本地主机传入的请求而保留的，以防某些请求在其处理期间发出对本地主机的子请求。
这避免了可能的因递归重新进入 Web 服务器而导致的死锁。


appRequestQueueLimit：ASP.NET 将为应用程序排队的请求的最大数目。
当没有足够的自由线程来处理请求时，将对请求进行排队。当队列超出了该设置中指定的限制时，
将通过“503 - 服务器太忙”错误信息拒绝传入的请求。


versionHeader：指定 ASP.NET 随每个响应所发送的版本头的值。
Microsoft Visual Studio .NET 使用该属性来确定当前使用的 ASP.NET 版本。
这对产品环境来说不是必需的，并且可以通过从 Web.config 或 Machine.config 移除该属性，
或将该属性设置为空字符串 (versionHeader="") 来将其禁用。









